asgiref
asyncio
beautifulsoup4
Django
django-appconf
django-bootstrap4
django-compressor
django-sass-processor
libsass
npm
npx
numpy
optional-django
pygame
pygbag @ git+https://github.com/pygame-web/pygbag@c5f05360ea564f5822c4f561ae90087ecb85047a
rcssmin
rjsmin
six
soupsieve
sqlparse
token-utils
tzdata
websockify
gunicorn
psycopg2
django-cors-headers
djangorestframework
mysqlclient
python-dotenv
pytz